body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url("spaceguy.png");
    background-size: auto;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #666;
}

#quizList {
    margin-top: 20px;
}

#quizList div {
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
